@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <style>
    body {
    background-color: lightgrey;
    }
    </style>
    <h2 class="display-4">Welcome to Azure AppsLabs</h2>
    <h1 class="display-2">Code deployment from Visual Studio to GitHub to Azure devops</h1>


    <p>Building Web apps with ASP.NET Core</p>
</div>